---
layout: default
---

<head>
  <!-- CSS Style -->
  <link rel="stylesheet" type="text/css" src="_sass/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" src="_sass/style.css" media="all">
</head>
<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <section class="section">
              <div class="section__home">
                  <div class="container">
                      <div class="row_header">
                      </div>
                      <div class="row">
                          <div class="col-lg-1 col-sm-1"></div>
                          <div class="col-lg-6 col-sm-6">
                              <div class="big_logo">
                                  <img class="bg-logo-5" src="assets/img/circle_5.png" alt="bg-logo">
                                  <img class="bg-logo-4" src="assets/img/circle_4.png" alt="bg-logo">
                                  <img class="bg-logo-2" src="assets/img/circle_2.png" alt="bg-logo">
                                  <img class="bg-logo-10" src="assets/img/circle.png" alt="bg-logo">
                                  <img class="bg-logo-7" src="assets/img/circle.png" alt="bg-logo">
                                  <img class="bg-logo-9" src="assets/img/circle.png" alt="bg-logo">
                                  <img class="bg-logo-3" src="assets/img/circle.png" alt="bg-logo">
                                  <img class="lab-logo" src="assets/img/lab_exp.gif" alt="lab-logo"></img>
                              </div>
                          </div>
                          <div class="col-lg-1 col-sm-1"></div>
                      </div>

          <!-- Latest News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">Latest News</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications <a href="https://nhattruongpham.github.io/publications/">[Full Publications]</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
          <div style="width: 150px; margin: 0 auto">
            <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=RuxfKWte4G6yKP1jx6GjTKLxpqdoMdFm-CPzvceTJNY"></script>
          </div>
        </article>

</div>
